div {
    height: 500px;
    width: 35%;
    background-color: rgb(190, 190, 190);
    position: relative;
}

#div0 {
    float: left;
    margin-left: 10%;
    
}

#div1 {
    float: right;
    margin-right: 10%;
}

#mouseText {
    position: fixed;
    z-index: 3;
    height: 50px;
    width: 200px;
    background-color: skyblue;
}