body {
    height: 100%;
    width: 100%;
    background-color: black;
}

h1 {
    color: skyblue;
    text-align: center;
}

h2 {
    color: rgb(255, 255, 255);
    text-align: center;
}

#addToList {
    background-color: grey;
    height: 3em;
    width: 80%;
    border: 0.2em;
    border-color: rgb(255, 255, 255);
    border-style: outset;
    margin-left: 10%;
    margin-right: 10%;
}

#shoppingList {
    background-color: grey;
    height: 30em;
    width: 80%;
    border: 0.2em;
    border-color: rgb(255, 255, 255);
    border-style: outset;
    margin-left: 10%;
    margin-right: 10%;
}

.textField {
    background-color: skyblue;
    height: 3em;
    width: 30%;
    margin-top: 0.1em;
    border: 0.1em;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-radius: 0.5em;
}

.textField::placeholder {
    color: white;
}

#addButton {
    height: 3em;
    width: 6%;
    background-color: skyblue;
    color: white;
    border: 0.1em;
    border-color: white;
    border-style: solid;
    margin-left: 0.5em;
}

#addButton:hover {
    scale: 1.1;
    color: black;
}

.itemInfo {
    height: 3em;
    border: 0.3em;
    border-style: solid;
    border-color: black;
    background-color: skyblue;
}

#bought {
    margin-left: 7%;
}

span {
    margin-left: 7%;
    margin-right: 7%;
}

Button {
    background-color: white;
    color: skyblue;
    border: 0.1em;
    border-color: black;
    border-style: solid;
    border-radius: 0.3em;
    height: 3.7em;
    width: 5em;
}

Button:hover {
    scale: 1.1;
}